<template>
    <v-container >
        <v-row
        align="end"
        justify="center"
        >
            <v-col md="auto" v-for="post in posts" :key="post.id">
                    <v-card
                            width="50vh"
                    >

                        <v-img
                                height="200px"
                                width="100%"
                                :src="post.thumb"
                        >


                        </v-img>
                        <v-btn
                                fab
                                class="float-right"
                                color="white"
                                small
                                :to="'blog/posts/'+post.id+'/'"
                        >
                            <v-icon>
                                mdi-arrow-right
                            </v-icon>
                        </v-btn>
                        <v-card-title>{{post.name}}</v-card-title>
                        <v-card-subtitle>{{post.created_at}}</v-card-subtitle>
                        <v-card-text class="black--text">
                         {{post.details.substr(0,150)}}
                        </v-card-text>
                    </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Blog",
        props:['posts']



    }
</script>

<style scoped>

</style>