<template>
  <v-container
          justify="space-around"
          align="end"
          fluid
  >
    <v-card
      outlined

    >



            <v-img
                    height="100%"
                    width="100%"
                    :src="post_data.thumb"

            ></v-img>


            <v-card-title>{{post_data.name}}</v-card-title>
            <v-card-subtitle>{{post_data.user.name}}-{{post_data.created_at}}</v-card-subtitle>
            <v-card-text>
              {{post_data.details}}
            </v-card-text>



    </v-card>
  </v-container>
</template>

<script>
    export default {
        name: "PostInfo",
        props:["post_data"],
    }
</script>

<style scoped>

</style>