<template>
    <v-dialog
            v-model="dialog"
            max-width="400"
    >
        <v-card>
            <v-img
                    height="200px"
                    :src="post.thumb"
            ></v-img>
            <v-card-title>{{post.name}}</v-card-title>
            <v-card-text>
                <p class="align-center ">
                   {{post.details}}
                </p>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn rounded color="primary" @click="CloseDialog">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "InfoDialog",
        props:['dialog','post'],
        methods:{
            CloseDialog(){
                this.$EventBus.$emit('close-dialog');
            }
        }
    }
</script>

<style scoped>

</style>