<template>
    <div>
        <app-info :dialog="dialog" :post="post"></app-info>
    <v-row

            align="center"
    >
        <div v-for="(project,i) in projects" :key="project[i]">
            <v-col md="auto" v-for="(p) in project" :key="p.id">
                <app-project :project="p"></app-project>
            </v-col>
        </div>


    </v-row>
    </div>
</template>

<script>
    import Project from './Project'
    import InfoDialog from './InfoDialog'
    export default {
        name: "Portfolio",
        props:['projects'],
        components:{
          appProject:Project,
          appInfo:InfoDialog
        },
        data:()=>({
            dialog:false,
            categories:[],
            select:'*',
            post:{},
            newProjects:[]

        }),
        methods:{
          filterProjects(){
              let app = this;
            this.projects.forEach(project=>{
                project.forEach(p=>{
                    app.newProjects.push(p);
                })
            })
          }
        },
        created() {
            let app = this;
            this.$EventBus.$on('info',(post)=>{
                app.post = post;
                app.dialog = true;
            });
            this.$EventBus.$on('close-dialog',()=>{
                app.dialog = false;
            });
        },
        watch:{
            select(val){
                this.$EventBus.$emit('change-category',val);
            },
            projects(){
                this.filterProjects();
            }
        }
    }
</script>

<style scoped>

</style>