<template>
    <v-card
            class="mx-auto"
            max-width="400"
            @click="ShowInfo(project)"
    >
        <v-img
                class="white--text align-center"
                height="200px"
                :src="project.thumb"
        >
    <v-overlay
        :absolute="true"
        :value = "true"
    >
            <v-card-title class="text-center">{{project.name}}</v-card-title>
    </v-overlay>
        </v-img>
    </v-card>
</template>

<script>
    export default {
        name: "Project",
        props:['project'],
        methods:{
            ShowInfo(post){
                this.$EventBus.$emit('info',post);
            }
        }
    }
</script>

<style scoped>

</style>