<template>
    <div class="container">
        <h1>Resume</h1>
        <hr>
        <div class="row">
            <div class="col-sm-4 " v-for="(experience,i) in experiences">
                <h1>{{experience[0].category.name}}</h1>
                <timeline
                       :experiences="experience">

                </timeline>
             </div>
         </div>
    </div>
</template>

<script>
    import Timeline from "./Timeline"
    export default {
        name: "Resume",
        props:['experiences'],
        components:{
            Timeline
        },



    }
</script>

<style scoped>

</style>