<template>
    <div >
        <ul class="timeline">
            <li v-for="experience in experiences" :key="experience.id">
                <br><a >{{experience.name}}</a>
                <br>
                <a class="float-right">{{experience.start_date}} - {{experience.end_date}}</a>
                <br>
                <p>{{experience.details}}</p>
            </li>

        </ul>
    </div>
</template>

<script>
    export default {
        name: "Timeline",
        props:['experiences'],
    }
</script>

<style scoped>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
    ul.li{
        margin-left:10px;
    }
</style>