<template>
    <div class="container">
        <div class="row">
            <div class="col col-md-auto"
                   v-for="(skill,i) in skills"
                   :key="i">
                <h1 class="title">{{skill[0].category.name}}</h1>
                <hr>
                <div  v-for="sk in skill" :key="sk.id">
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 50%;"
                             :aria-valuenow="sk.amount"
                             aria-valuemin="0"
                             aria-valuemax="100">{{sk.name}} - {{sk.amount}}%</div>
                    </div>


                    <br>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Skills",
        props:['skills']
    }
</script>

<style scoped>

</style>