<template>
    <v-row
    justify="center"
    align="center"
    >
        <v-col md="auto" v-for="service in services" :key="service.id">
            <app-service :service="service"></app-service>
        </v-col>
    </v-row>
</template>
<script>
import Service from './Service'
export default {
    name:'Services',
    props:['services'],
    components:{
        appService:Service
    },

}
</script>