<template>
     <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-img
      class="white--text align-end"
      height="200px"
      :src="service.thumb"
    >
      <v-card-title>{{service.name}}</v-card-title>
    </v-img>
     </v-card>
</template>
<script>
export default {
    name:'Service',
    props:['service']
}
</script>