<template>
    <v-container fluid>
        <h1 class="title">Book and appointment with me</h1>
       <v-stepper v-model="step">
           <v-stepper-header>
           <v-stepper-step :complete="step> 1" step="1">
                Personal information
           </v-stepper-step>
               <v-divider></v-divider>
           <v-stepper-step :complete="step> 2" step="2">
                Select date and time
           </v-stepper-step>
               </v-stepper-header>
           <v-stepper-content step="1">
            <v-card>
                <v-card-text>
                    <v-text-field
                        type="text"
                        label="Title"
                        v-model="appointment.title"
                    ></v-text-field>
                    <v-text-field
                        type="email"
                        label="Email"
                        v-model="appointment.email"
                    ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn outlined rounded color="blue" @click="step++">Next</v-btn>
                </v-card-actions>
            </v-card>
           </v-stepper-content>
           <v-stepper-content step="2">
               <v-card>
                <v-sheet height="400">
                    <v-calendar
                            ref="calendar"
                            :now="date"
                            :value="date"
                            :events="times"
                            color="primary"
                            type="week"
                            v-model="date"
                            locale="gb"
                            @click:event="SelectTime"
                    ></v-calendar>
                </v-sheet>
                   <v-card-actions>
                       <v-spacer></v-spacer>
                       <v-btn outlined rounded color="green" @click="bookApp()">Book an appointment</v-btn>
                   </v-card-actions>
               </v-card>

           </v-stepper-content>
       </v-stepper>

    </v-container>
</template>

<script>
    var moment = require('moment');
    export default {

        name: "Appoinment",
        props:['times','av'],
        data:()=>({
            date:moment(),
            appointment:{
                title:"",
                email:"",
                date:null,
                time: null,
            },
            events:[],
            succ:false,
            alert:false,
            error:false,
            errMsg:'',
            step:1
        }),
        methods:{

            bookApp(){
                this.$EventBus.$emit('book',{
                    title: this.appointment.title,
                    email: this.appointment.email,
                    date: this.date,
                    day_id: this.appointment.date,
                    time: this.appointment.time,
                });
            },
            SelectTime({event}){
                alert(event);
                this.appointment.time = moment(event.start).format('HH:mm')
            },
            filter() {
                if(this.times!= null || this.times !=undefined || this.times[0].error == undefined) {
                    for (let i = 0; i < this.times.length; i++) {
                        this.times[i] = {
                            name: this.times[i] + " 0 Clock",
                            start: "" + this.date + "" + " " + moment(this.times[i], "HH:mm").format("HH:mm")
                        };
                    }
                }
            },

        },
        created(){
            let app = this;
            this.$EventBus.$on('succ',resp=>{
                    app.alert = true;
                    app.succ = true;
                    app.appointment.title = "";
                    app.appointment.email = "";
                    app.date = null;
                    app.appointment.date = null;
                    app.appointment.time = null;
                }
            )
            this.$EventBus.$on('error',resp=>{
                    app.error = true;
                    app.alert = true;
                    app.errMsg = 'Please check your data and try again';
                }
            )

        },
        watch:{
            date(val){
                let d = moment(val);
                this.appointment.date =  d.day();
                this.$EventBus.$emit('fetch',{
                    day_id:this.appointment.date,
                    date:this.date
                });
            },
            times(val){
                if(!val[0].error){
                    this.filter();
                }



            }
        },
        mounted () {
            this.$refs.calendar.scrollToTime('08:00')
        }


    }
</script>

<style scoped>

</style>