<template>
    <v-container>
    <v-row>
        <v-col md="auto">
            <v-card>
                <v-card-title>Send me a message</v-card-title>
                <v-card-text>
                    <v-text-field
                        v-model="message.email"
                        label="Email"
                    ></v-text-field>
                    <v-text-field
                        v-model="message.name"
                        label="Name"
                    ></v-text-field>
                    <v-textarea
                        v-model="message.message"
                        label="Message"
                    ></v-textarea>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="Send()">Send messagen</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>

        <v-col md="auto">
            <v-card>
                <v-card-title>Contact information</v-card-title>
                    <v-card-text>
                        <v-list>

                            <v-list-item>
                                <v-list-item-icon><v-icon>mdi-map-marker</v-icon></v-list-item-icon>
                                <v-list-item-title>{{info.contact_adress}}</v-list-item-title>
                            </v-list-item>

                            <v-list-item>
                                <v-list-item-icon><v-icon>mdi-phone</v-icon></v-list-item-icon>
                                <v-list-item-title>{{info.phone}}</v-list-item-title>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-icon><v-icon>mdi-email</v-icon></v-list-item-icon>
                                <v-list-item-title>{{info.email}}</v-list-item-title>
                            </v-list-item>

                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Contacts",
        props:['info'],
        data:()=>({
            message:{
                email:'',
                name:'',
                message:''
            },
            succ:false,
            error:false,
            errMsg:''
        }),
        methods:{
            Send(){
                this.$EventBus.$emit('send',this.message);
            }
        },
        created() {
            let app = this;
          this.$EventBus.$on('succ',()=>{
              app.succ = true;
            })
            this.$EventBus.$on('err',err=>{
              app.errMsg = err;
              app.error = true;
            })
        }
    }
</script>

<style scoped>

</style>