<template>
    <v-app>
    <v-content>
        <v-container fluid>
        <v-card
            
                width="100em"
                height="15em"
                tile
        >
            <v-img
                    height="100%"
                    src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
            >
                <v-row
                        align="end"
                        class="fill-height"
                >
                    <v-col
                            align-self="start"
                            class="pa-0"
                            cols="12"
                    >
                        <v-avatar
                                class="profile"
                                color="grey"
                                size="164"
                                tile
                        >
                            <v-img :src="user.profile_image"></v-img>
                        </v-avatar>
                    </v-col>
                    <v-col class="py-0">
                        <v-list-item
                                color="rgba(0, 0, 0, .4)"
                                dark
                        >
                            <v-list-item-content>
                                <v-list-item-title class="title white--text">{{user.name}}</v-list-item-title>
                                <v-list-item-subtitle>{{user.designation}}</v-list-item-subtitle>
                                <v-spacer></v-spacer>
                                <div>

                                </div>
                            </v-list-item-content>
                        </v-list-item>
                    </v-col>
                </v-row>
            </v-img>
        </v-card>
        <v-row no-gutters>
            <v-col cols="3" class="hidden-sm-and-down" >

            <app-about></app-about>
            </v-col>
            
            <v-col 
            cols="12"
            class="hidden-md-and-up"
            
            >
                <v-card 
                md="auto"
                
                outlined>
                <v-row
                justify="center"
                align-content="center">
                <v-btn outlined rounded  class="mx-2 hidden-md-and-up" color="primary" to='about' >About</v-btn>
                    <section v-if="user.plan != 'Free'" >
                        <v-btn outlined rounded  class="mx-2" color="primary" to='services' >Services</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='resume' >Resume</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='portfolio' >Portfolio</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='blog'>Blog</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='contact'>Contacts</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='appointment' >Appointment</v-btn>
                    </section>
                </v-row>
                    <v-divider></v-divider>
                    <slot ></slot>




                </v-card>
            </v-col>
            <v-col
                    cols="9"
                    class="hidden-sm-and-down"

            >
                <v-card
                        md="auto"

                        outlined>
                    <v-row
                            justify="center"
                            align-content="center" v-if="user.plan != 'Free'">
                        <v-btn outlined rounded  class="mx-2" color="primary" to='services' >Services</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='resume' >Resume</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='portfolio' >Portfolio</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='blog'>Blog</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='contact'>Contacts</v-btn>
                        <v-btn outlined rounded  class="mx-2" color="primary" to='appointment' >Appointment</v-btn>
                    </v-row>
                    <v-divider></v-divider>
                    <slot ></slot>




                </v-card>
            </v-col>
            
                
            

        </v-row>

        

       

    </v-container>
    </v-content>
    </v-app>

</template>

<script>
    import Services from './Services/Services'
    import About from './About/About'

    export default {
        name: "App",
        props:['user'],
        components:{
            appAbout:About,
            appServices:Services
        },



    }
</script>

<style scoped>

</style>