<template>
    <v-container fluid >
        <v-alert v-if="error || succ" outlined :type="error?'error':'success'">
            <p v-if="error">{{errMsg}}</p>
            <p v-else>Message send </p>
        </v-alert>
        <h1 class="title">Contact me</h1>
        <v-row>
            <v-col cols="8">
               <v-text-field
                    v-model="message.name"
                    label = "Your name"
                    type="text"
               >

               </v-text-field

               >
                <v-text-field
                v-model="message.email"
                label = "Your email"
                type="email">
                </v-text-field>
                <v-textarea
                        v-model="message.message"
                        label = "Your message"
                >
                </v-textarea>
                <v-btn
                        color="purple"
                        outlined
                        rounded
                        @click="Send()"
                >
                    <v-icon>
                        mdi-send
                    </v-icon>
                    Send message
                </v-btn>
            </v-col>
            <v-col md="auto">
                <v-card>
                    <v-card-title>
                        Contact details
                    </v-card-title>
                    <v-card-text>
                        <v-list>

                            <v-list-item>
                                <v-list-item-icon><v-icon>mdi-map-marker</v-icon></v-list-item-icon>
                                <v-list-item-title>{{info.contact_adress}}</v-list-item-title>
                            </v-list-item>

                            <v-list-item>
                                <v-list-item-icon><v-icon>mdi-phone</v-icon></v-list-item-icon>
                                <v-list-item-title>{{info.phone}}</v-list-item-title>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-icon><v-icon>mdi-email</v-icon></v-list-item-icon>
                                <v-list-item-title>{{info.email}}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

    </v-container>
</template>

<script>
    export default {
        name: "Contact",
        props:['info'],
        data:()=>({
            message:{
                email:'',
                name:'',
                message:''
            },
            succ:false,
            error:false,
            errMsg:''
        }),
         methods:{
            Send(){
                this.$EventBus.$emit('send',this.message);
            }
         },
        created() {
            let app = this;
            this.$EventBus.$on('succ',()=>{
                app.succ = true;
                app.error = false
            })
            this.$EventBus.$on('err',err=>{
                app.errMsg = err;
                app.error = true;
                app.succ = false;
            })
        }
    }
</script>

<style scoped>

</style>