<template>
    <div class="content">
        <div class="container">

    <div>
            <card class='stripe-card'
                  :class='{ complete }'
                  stripe='pk_test_exyvgGa0VocgOtf6j1R0pFno00EOoTmf1s'

                  @change='complete = $event.complete'
            />
            <button class="btn btn-primary" @click="pay()">Pay 10$</button>

        <a href="/api/paypal">Pay with paypal</a>
    </div>

        </div>
    </div>
</template>

<script>
    import { Card, createToken } from 'vue-stripe-elements-plus'

    export default {
        name: "Checkout",
        components: {Card},
        data: () => ({
            pay_with_paypal: false,
        }),
        methods: {
            pay() {
                let token = null;
                let app = this;
                createToken().then(data => {
                    console.log(data)
                    token = data.token
                        app.post('admin/subscribe/', {
                            stripe_token:token,
                        }, false)
                    }
                )
            }
        }

    }
</script>

<style scoped>
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;
        margin:5px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>