<template>
  <v-container
    fluid
  >
      <v-row
        no-gutters
        justify="center"
        align="end"
      >

        <v-col md="auto" v-for="feature in features" :key="feature.id">
            <v-hover>
            <template v-slot="{ hover }">
            <v-card width="25vh"
                    :elevation="hover ? 24 : 6"
                    class="transition-swing"
            >
                    <h1 class="text-center mx-auto " ><v-icon large>mdi-cash</v-icon></h1>
                <v-card-title>

                </v-card-title>
                <v-card-text class="text-center black--text title">
                    {{feature.name}}
                </v-card-text>
            </v-card>
            </template>
            </v-hover>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
    export default {
        name: "Features",
        data:()=>({
            features:[]
        }),
        created() {
            let app = this;
            this.get('/features').then((resp)=>{
                app.features = resp.features;
            })
        }
    }

</script>

<style scoped>


</style>