<template>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Plan</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" href="#" @click="plan = '*'">All</button>
            <button class="dropdown-item" href="#" @click="plan = 'Free'">Free</button>

            <button class="dropdown-item" href="#" @click="plan = 'Pro'">Pro</button>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Filters",
        data:()=>({
            plan:''
        }),
        watch:{
            plan(val){
                this.$EventBus.$emit('filter',val);
            }
        }

    }
</script>

<style scoped>

</style>