<template>
    <v-card dark>
       <v-footer class="text-center font-weight-medium"
                 style="width:100%;"
       absolute>


                <h2 class="text-center white--text ">Profile.Me</h2>
                 <h1>
                     <v-icon color="blue">mdi-facebook</v-icon>
                     <v-icon color="orange">mdi-instagram</v-icon>
                     <v-icon color="blue lighten-3">mdi-twitter</v-icon>
                     <v-icon color="white">mdi-email</v-icon>
                 </h1>
                 <h5>&copy; Copyright 2020 Profile.Me</h5>

       </v-footer>
    </v-card>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>