<template>
    <div>
    <section>

           <v-img
                src="/images/asd.jpg"
                class="white--text align-end"
                heigth="100vh"
           >
               <v-overlay
                       :absolute="true"
                       :value="true"
               >

                   <h1 class=" title my-4 text-center ">Profile.Me</h1>

                   <h3 class="text-center ">Build your own portfolio</h3>
               </v-overlay>

           </v-img>

    </section>
        <br><br>
    <section >
        <v-container>
        <v-row>
            <v-col md="auto" style="width:75vh;">
                <v-img src="images/app1.png"></v-img>

            </v-col>
            <v-col col="6" md="auto" style="width:50vh" >

                        <h3 class="tittle mb-lg-4 mb-3">Why Profile.ME ?</h3>

                    <p>Profile.ME is easy to use web app.</p>
                    <p class="my-3">Praesent ullamcorper dui turpis.At vero eos et accusam et justo duo dolores et ea rebum.</p>

                            <h1 class="title pa-3">  <v-icon class="pr-2">mdi-check</v-icon> Easy to use interface</h1>

                            <h1 class="title pa-3">  <v-icon class="pr-2">mdi-database</v-icon>Full control of your data</h1>

                            <h1 class="title pa-3">  <v-icon class="pr-2">mdi-face-agent</v-icon>24/7 online support</h1>

                            <h1 class="title pa-3">  <v-icon class="pr-2">mdi-content-save-edit</v-icon>Easy create your portfolio</h1>

            </v-col>


    </v-row>
        </v-container>
    </section>

        <br><br>
        <section>
            <v-container>
            <v-row>

                    <v-col  md="auto" style="width:50vh;">
                            <h1 class="my-4">Grow your audience fast</h1>

                        <p>With tools that Profile.Me provide, you can grow your audience fast.</p>
                     <div>

                                <h1 class="title"><v-icon class="pr-2">mdi-database</v-icon>Easily manage your works</h1>
                                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                     </div>
                            <div >

                                <h1 class="title"> <v-icon class="pr-2">mdi-cash</v-icon>Get payments smoothly.</h1>
                                <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                            </div>
                    </v-col>
                <v-col  md="auto" style="width:75vh;">
                    <v-img src="images/app2.png" class="img-fluid" alt="mobile-image"></v-img>

                </v-col >

            </v-row>
            </v-container>
        </section>

    </div>
</template>

<script>
    import Header from './Header'
    export default {
        name: "Home",
        components:{
            AppHeader:Header
        }

    }
</script>

<style scoped>
html,body{
    padding: 0px;
    margin:0px;
    background-color: white;
}

</style>
