<template>
   <v-container

   >
       <v-row
       justify="center"
       align="end"
       >
           <v-col md="auto">
               <v-card
                width="50vh"
                class="text-center"
                elevation="16"

               >
                   <v-card-title style="background-color: #2196f3;">
                       <h1 class="title  mx-auto white--text ">Free Plan</h1>
                   </v-card-title>
                   <v-divider></v-divider>
                   <v-card-text>
                       <v-list>
                           <v-list-item>
                                   <v-list-item-icon>
                                       <v-icon color="green">mdi-check</v-icon>
                                   </v-list-item-icon>

                                   <v-list-item-title>
                                       Unique Profile
                                   </v-list-item-title>
                           </v-list-item>
                           <v-list-item>
                                   <v-list-item-icon>
                                       <v-icon color="green">mdi-check</v-icon>
                                   </v-list-item-icon>

                                   <v-list-item-title>
                                       Classic Theme
                                   </v-list-item-title>
                           </v-list-item>
                       </v-list>
                   </v-card-text>
                   <v-card-actions>
                       <v-btn outlined block rounded color="blue">
                           <a href="/admin/register?plan=free" class="blue--text"> Sign up For Free</a>

                       </v-btn>
                   </v-card-actions>
               </v-card>
           </v-col>

           <v-col md="auto">
               <v-card
                width="50vh"
                class="text-center"
                elevation="24"

               >
                   <v-card-title style="background-color:purple;">
                       <h1 class="title  mx-auto white--text">Pro Plan</h1>
                   </v-card-title>
                   <v-divider></v-divider>
                   <v-card-text>
                       <v-list>
                           <v-list-item>
                                   <v-list-item-icon>
                                       <v-icon color="green">mdi-check</v-icon>
                                   </v-list-item-icon>

                                   <v-list-item-title>
                                       Unique Profile
                                   </v-list-item-title>
                           </v-list-item>
                           <v-list-item>
                                   <v-list-item-icon>
                                       <v-icon color="green">mdi-check</v-icon>
                                   </v-list-item-icon>

                                   <v-list-item-title>
                                       Classic  and Pro Themes
                                   </v-list-item-title>
                           </v-list-item>
                           <v-list-item>
                                   <v-list-item-icon>
                                       <v-icon color="green">mdi-check</v-icon>
                                   </v-list-item-icon>

                                   <v-list-item-title>
                                       Unlimited Blog Posts
                                   </v-list-item-title>
                           </v-list-item>
                       </v-list>
                   </v-card-text>
                   <v-card-actions>
                       <v-btn outlined block rounded color="purple">
                           <a href="/admin/register?plan=paid" class="purple--text">  Sign up For 9.99/Month</a>


                       </v-btn>
                   </v-card-actions>
               </v-card>
           </v-col>
       </v-row>
   </v-container>
</template>

<script>
    export default {
        name: "Pricing"
    }
</script>

<style scoped>

</style>