<template>
    <div>
        <div v-for="skill in skills" :key="skill.id">
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right "></i>Skills</b></p>
        <p>{{skill.name}}</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:90%">90%</div>
        </div>
        </div>

    </div>

</template>

<script>
    export default {
        name: "Skills",
        props:['user_id'],
        data:()=>({
            skills:[]
        }),
        mounted() {
            var app = this;
            this.get('/user/'+this.user_id+'/skills').then(function (resp) {
               app.skills = resp.skills;
            })
        }
    }
</script>

<style scoped>

</style>