<template>
    <v-card
            max-width="350"
    >
        <v-img :src='user.profile_image'

               height="200px"
             ></v-img>

           <v-card-title>{{user.name}}</v-card-title>
<v-card-actions>
    <v-spacer></v-spacer>
    <v-btn :to='`/profile/`+user.id+`/`' outlined color="primary">View Profile</v-btn>
</v-card-actions>

    </v-card>
</template>

<script>
    export default {
        name: "UserCard",
        props:['user']
    }
</script>

<style scoped>


</style>