<template>
  <v-container>


    <app-user-filters></app-user-filters>

            <v-row cols="12"
                   no-gutters
            align="start"
                   justify="center"
          >

                <v-col

                       md="auto"
                        v-for="user in users" :key="user.id">

                        <app-user-card :user = 'user'></app-user-card>


                </v-col>
            </v-row>
        </v-container>


</template>

<script>
    import UserCard from './UserCard'
    import Filters from './Filters'
    export default {
        components:{
          AppUserCard:UserCard,
          AppUserFilters:Filters
        },
        name: "Users",
        data:()=>({
            search:'*',
            users:[]
        }),
        methods:{
          fetchUsers(){
              var app = this;
              this.get('/users/'+this.search).then(function (resp) {
                  app.users = resp.users;
              })
          }
        },
        mounted() {
            var app = this;
            this.fetchUsers();
            this.$EventBus.$on('filter',(filter)=>{
                app.search = filter;
            })
        },
        watch:{
          search(val){
              this.fetchUsers();
          }
        }
    }
</script>

<style scoped>
div{
    margin: 5px;
}
</style>