<template>
    <v-container>
        <v-alert
            v-model="alert"
            :color="error?'red':'green'"
            dismissible
            dark
        >
            <p v-if="succ" class="white--text">Successfully booked an appoinment.Check your email for more details!</p>
            <p v-else class="white--text">{{errMsg}}</p>
        </v-alert>
        <v-row>
            <v-col md="auto">


                <v-card>
                    <v-card-title>Book an appointment</v-card-title>
                    <v-form @submit.prevent="bookApp">
                    <v-card-text>

                            <v-text-field
                                    type="text"
                                    label="Title"
                                    required
                                    v-model="appointment.title"
                            ></v-text-field>
                            <v-text-field
                                    required
                                    type="email"
                                    label="Email"
                                    v-model="appointment.email"
                            ></v-text-field>
                            <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :return-value.sync="date"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                                    requrired
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="date"
                                            label="Date"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="date" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                    <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        <v-select
                                :items="times"
                                label="Pick a time(o`clock)"
                                prepend-icon="mdi-alarm"
                                v-model = 'time'
                        ></v-select>



                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outlined rounded color="blue" type="submit">Book an appointment</v-btn>

                    </v-card-actions>
                    </v-form>
                </v-card>
            </v-col>
            <v-col md="auto">
                <v-card>
                    <v-card-title>Availability</v-card-title>
                    <v-card-text>
                        <v-list>
                            <v-list-item v-for="day in av" :key="day.id" >
                                <v-list-item-icon><v-icon>mdi-calendar</v-icon></v-list-item-icon>
                                <v-list-item-title>{{day.day.day}}({{day.start_hour}}-{{day.end_hour}})</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-card-text>

                </v-card>
            </v-col>
        </v-row>


    </v-container>
</template>

<script>
    var moment = require('moment');
    export default {
        name: "Appointment",
        props:['times','av'],
        data:()=>({
            appointment:{
                title:"",
                email:"",
                date:null,
                time: null,
            },
            succ:false,
            alert:false,
            date:null,
            menu: false,
            error:false,
            errMsg:'',
            time:null
        }),
        methods:{

            bookApp(){
                this.$EventBus.$emit('book',{
                    title: this.appointment.title,
                    email: this.appointment.email,
                    date: this.date,
                    day_id: this.appointment.date,
                    time: this.appointment.time,
                });
            }
        },
        created(){
            let app = this;
          this.$EventBus.$on('succ',resp=>{
              app.alert = true;
              app.succ = true;
              app.appointment.title = "";
              app.appointment.email = "";
              app.date = null;
              app.appointment.date = null;
              app.appointment.time = null;
              }
          )
           this.$EventBus.$on('error',resp=>{
               app.error = true;
               app.alert = true;
               app.errMsg = 'Please check your data and try again';
              }
          )

        },
        watch:{
            date(val){
                let d = moment(val);
                this.appointment.date =  d.day();
                this.$EventBus.$emit('fetch',{
                    day_id:this.appointment.date,
                    date:this.date
                });

            },
            time(val){
                this.appointment.time = moment(val).format("Hh:mm");
            }
        }

    }
</script>

<style scoped>

</style>