    <template>
    <v-container fluid>
       <h1>About me</h1>
        <v-row>
            <v-col md="auto">
                <v-card  >
                    <v-container>
                        <v-row>
                            <v-col md="auto">
                                <v-img
                                    height="200px"
                                    width="200px"
                                    :src="user.profile_image"

                                ></v-img>
                            </v-col>
                            <v-col md="auto">
                                <v-card-title>{{user.name}}</v-card-title>
                                <v-card-subtitle>{{user.designation}}</v-card-subtitle>
                                <v-card-text>
                                    {{user.description}}
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn icon color="primary" class="text--white" ><v-icon>mdi-facebook</v-icon> </v-btn>
                                </v-card-actions>
                            </v-col>
                        </v-row>

                    </v-container>
                </v-card>
            </v-col>
            <v-col md="auto">
                <h1 class="titl">Skills</h1>
                <app-skills></app-skills>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Services from '../../ThemeManager/Services'
    import Skills from '../../ThemeManager/Skills'
    export default {
        name: "About",
        data:()=>({
            user:{},
            
        }),
        components:{
            appServices:Services,
            appSkills:Skills
        },
        created(){
             let app = this;
            let id= this.$route.params.id;
                this.get('/user/'+id+'').then((resp)=>{
                    app.user = resp.user;
                });
        }
    }
</script>

<style scoped>

</style>