<template>
    <v-container>
        <v-row>
            <v-col md="auto"
                   v-for="(skill,i) in skills"
            :key="i">
                <h1 class="title">{{skill[0].category.name}}</h1>
                <hr>
                <div  v-for="sk in skill" :key="sk.id">
                <v-progress-linear

                        :value="sk.amount"
                        rounded
                        height="35"

                >
                    <template v-slot="{ value }">
                        <h6 class="white--text">{{sk.name}}-{{sk.amount}}%</h6>
                    </template>
                </v-progress-linear>
                    <br>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Skills",
        props:['skills']
    }
</script>

<style scoped>

</style>