<template>
    <v-card>
                    <v-img
                            class="white--text align-end"
                            height="200px"
                            :src="post_data.thumb"
                    >

                    </v-img>
                    <v-card-title>{{post_data.name}}</v-card-title>
                    <v-card-subtitle>{{post_data.created_at}}  </v-card-subtitle>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" :to="'blog/posts/'+post_data.id+'/'" >Learn more</v-btn>
                    </v-card-actions>
                </v-card>
</template>

<script>
    export default {
        name: "Articles",
        props:['post_data']
    }
</script>

<style scoped>

</style>