<template>
    <v-container>
        <v-row>
            <v-col cols="4" v-for="post in posts" :key="post.id">
                <app-article :post_data="post"></app-article>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Articles from './Articles'
    export default {
        name: "Blog",
        props:['posts'],
        components:{
            appArticle:Articles
        }
    }
</script>

<style scoped>

</style>