<template>
    <v-container>
        <v-card >

        <v-img
                class="white--text align-center"
                height="200px"
                :src="post_data.thumb"

        >
            <v-overlay
                    :absolute="true"
                    :value="true"
            >
            <h1 class="text-center ">{{post_data.name}}</h1>
            <h3 class="text-center ">by {{post_data.user.name}} {{post_data.created_at}}</h3>
            </v-overlay>
        </v-img>

        <v-card-text>
           {{post_data.details}}
        </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "PostInfo",
        props:['post_data'],
        
    }
</script>

<style scoped>

</style>