<template>
    <v-card class="mr-2"  >
        <v-card-title>About me</v-card-title>
        <v-card-text>

            {{user.description}}

        </v-card-text>
        <v-card-actions>
            <v-btn icon color="primary" class="text--white" ><v-icon>mdi-facebook</v-icon> </v-btn>
        </v-card-actions>
        <v-card-title>Skills</v-card-title>
        <v-divider></v-divider>
    <app-skills></app-skills>
    </v-card>
</template>

<script>
import Skills from '../../ThemeManager/Skills'
    export default {
        name: "About",
        data:()=>({
            user:{},
            cv:null
        }),
        components:{
            appSkills:Skills
        },
        created(){
            let app = this;
            let id= this.$route.params.id;
                this.get('/user/'+id+'').then((resp)=>{
                    app.user = resp.user;
                    app.cv = resp.cv;
                });
        }

    }
</script>

<style scoped>

</style>