<template>
<v-container fluid>
        <v-card>
        <v-navigation-drawer
                expand-on-hover
                permanent
                app

        >
            <v-list dense>
                <v-list-item
                >
                    <v-list-item-avatar>
                        <v-img
                                :src="user.profile_image"
                        ></v-img>
                    </v-list-item-avatar>
                    <v-list-item-title>{{user.name}}</v-list-item-title>

                </v-list-item>
                <template v-for="(item,i) in items">


                    <v-list-item
                            v-if='user.plan == "Paid"'
                            :key="i"
                            link
                            :to="item.to"

                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.name }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
        </v-card>

        <v-content style="padding:  0px;">

                <slot></slot>
        </v-content>
</v-container>
</template>

<script>
    import {menu} from '../../env.js'
    export default {
        name: "Profile",
        data:()=>({
            component:'about',
            user:{},

            cv:null,
            drawer:true,
            items:menu
        }),
        mounted(){
            let app = this;
            let id = this.$route.params.id;
            this.get('/user/'+id).then(function(resp){
                app.user = resp.user;
                app.cv = resp.cv;
            })
        }
    }
</script>

<style >
.v-navigation-drawer{
    margin-top:60px;
}

</style>