<template>
    <v-container>
        <v-row>
            <v-col md="auto"  v-for="(experience,i) in experiences" :key="i" >
                <v-card flat>
                    <v-card-title class="title blue--text" >{{experience[0].category.name}}</v-card-title>
                    <v-card-text>
                        <v-timeline v-for="exp in experience" :key="exp.id"  align-top :dense="$vuetify.breakpoint.smAndDown">
                            <v-timeline-item
                                icon="mdi-education"
                                :color="exp.color"
                            >
                                <v-card
                                :color="exp.color"
                                dark
                                >
                                <v-card-title class="title white--text">{{exp.name}}</v-card-title>
                                    <v-card-subtitle>{{exp.start_date}} - {{exp.end_date}}</v-card-subtitle>
                                    <v-card-text>
                                        {{exp.details}}
                                    </v-card-text>
                                </v-card>
                            </v-timeline-item>
                        </v-timeline>
                    </v-card-text>
                </v-card>
            </v-col>

        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Resume",
        props:['experiences']
    }
</script>

<style scoped>

</style>