<template>
 <v-container>
     <h1 class="title">Portfolio</h1>
     <v-row>
         <template  v-for="(project) in projects">
             <v-col md="auto" v-for="p in project" :key="p.id">
                 <v-card width="50vh">
                     <v-img
                        :src="p.thumb"
                     ></v-img>
                     <v-card-title>
                         {{p.name}}
                     </v-card-title>
                     <v-card-text>
                         {{p.details}}
                     </v-card-text>
                 </v-card>
             </v-col>
         </template>
     </v-row>
 </v-container>
</template>

<script>
    export default {
        name: "Portfolio",
        props: ['projects'],

    }

</script>

<style scoped>

</style>