<template>
    <v-container
    fluid>
        <h1 class="title">Services</h1>
        <v-row
            align="end"
            justify="center"
        >
            <v-col md="auto" v-for="service in services" :key="service.id">
                <v-card width="50vh">
                    <v-img
                        height="200px"
                        :src="service.thumb"
                    ></v-img>
                    <v-card-title>
                        {{service.name}}
                    </v-card-title>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {

        name: "Services",
        props:['services'],



    }
</script>

<style scoped>

</style>