<template>
    <component :is="component"></component>
</template>

<script>
    import classic from '../DefaultTheme/About/About'
    import material from '../ThemeOne/About/About'
    export default {
        name: "About",
        props:['user_id'],
        components:{
            appClassic:classic,
            appMaterial:material
        },
        data:()=>({
            component:"",
            theme:0,
        }),
        created() {
            this.theme = this.$store.getters.getTheme;

            if(this.theme == 0){
                this.component = "appClassic";
            }else{
                this.component = "appMaterial";
            }
           
           
        }
    }
</script>

<style scoped>

</style>