<template>
    <component :is="component" :times="times" :av="av"></component>
</template>

<script>
    var moment = require('moment');
    import classic from '../DefaultTheme/Appoinment/Appoinment'
    import material from '../ThemeOne/Apoointment/Appointment'
    export default {
        name: "Appointment",
        components:{
            appClassic:classic,
            appMaterial:material
        },
        data:()=>({
            component:"",
            theme:0,
            user_id:null,
            day_id:null,
            date:null,
            menu: false,
            times:[],
            av:[],
            start:0,
            end:0,
            error:false,
            errMsg:''
        }),
        methods: {
            FetchTimes() {
                let app = this;
                this.times = [];
                this.get('/user/' + this.user_id + '/appointments/day/' + this.day_id + '/date/' + this.date)
                    .then(resp => {
                        app.times= resp.times;

                    }).catch(err=>{
                    let time = {
                        name:"Please select other day",
                        start:"" + app.date + " 08:00",
                        error:true
                    }
                    app.times.push(time);
                })
            },



            bookApp(resp) {
                let app = this;

                this.post('/user/' + this.user_id + '/appointments/add/', {
                    title: resp.title,
                    email: resp.email,
                    date: resp.date,
                    day_id: resp.day_id,
                    time: resp.time,
                }).then((resp) => {
                   app.$EventBus.$emit('succ');


                }).catch(err => {
                    app.$EventBus.$emit('error');
                })
            }
        },
        created() {
            let app = this;
            this.user_id = this.$route.params.id;
            this.theme = this.$store.state.theme;
            if(this.theme == 0){
                this.component = "appClassic";
            }else{
                this.component = "appMaterial";
            }
            this.$EventBus.$on('fetch',resp=>{
                app.day_id = resp.day_id;
                app.date = resp.date;
                app.FetchTimes();
            })
            this.$EventBus.$on('book',resp=>{
                app.bookApp(resp);
            });
            this.get('/user/'+this.user_id+'/availability').then(resp=>{
                app.av = resp;
            });
        }
    }
</script>

<style scoped>

</style>