<template>
    <component :is="component" :posts="posts"></component>
</template>

<script>
    import classic from '../DefaultTheme/Blog/Blog'
    import material from '../ThemeOne/Blog/Blog'
    export default {
        name: "Blog",
        props:['user_id'],
        components:{
            appClassic:classic,
            appMaterial:material
        },
        data:()=>({
            component:"",
            theme:0,
            posts:[]
        }),
        created() {
            this.theme = this.$store.state.theme;
            if(this.theme == 0){
                this.component = "appClassic";
            }else{
                this.component = "appMaterial";
            }
            let app = this;
            let id= this.$route.params.id;
            this.get('/user/'+id+'/posts').then((resp)=>{
                app.posts = resp.posts;
            })
        }
    }
</script>

<style scoped>

</style>