<template>
    <component :is="component" :info="info"></component>
</template>

<script>
    import classic from '../DefaultTheme/Contact/Contact'
    import material from '../ThemeOne/Contact/Contact'
    export default {
        name: "Contacts",
        props:['user_id'],
        components:{
            appClassic:classic,
            appMaterial:material
        },
        data:()=>({
            component:"",
            theme:0,
            info:{}
        }),
        methods:{
          Send(message,id){
                let app = this;
              this.post("/user/"+id+"/messages/add",message).then((resp)=>{
                  app.$EventBus.$emit('succ');
              }).catch(err=>{
                  app.$EventBus.$emit('err',err);
              })


          }
        },
        created() {
            this.theme = this.$store.state.theme;
            if(this.theme == 0){
                this.component = "appClassic";
            }else{
                this.component = "appMaterial";
            }
            let app = this;
            let id= this.$route.params.id;
            this.get('/user/'+id+'').then((resp)=>{
                app.info = resp.user;
            });
            this.$EventBus.$on('send',message=>{
                app.Send(message,id);
            })
        }
    }
</script>

<style scoped>

</style>