<template>
    <component :is="component" :projects = "projects" :categories="categories"></component>
</template>

<script>
    import classic from '../DefaultTheme/Portfolio/Portfolio'
    import material from '../ThemeOne/Portfolio/Portfolio'
    export default {
        name: "Portfolio",
        props:['user_id'],
        components:{
            appClassic:classic,
            appMaterial:material
        },
        data:()=>({
            component:"",
            theme:0,
            projects:[],

        }),
        created() {
            this.theme = this.$store.getters.getTheme;

            if(this.theme == 0){
                this.component = "appClassic";
            }else{
                this.component = "appMaterial";
            }
            let app = this;
            let id= this.$route.params.id;
            this.get("/user/"+id+"/portfolio/").then((resp)=>{
                app.projects = resp.projects;
                app.categories = resp.categories;
            });
        }
    }
</script>

<style scoped>

</style>