<template>
    <component :is="component" :post_data="post_content[0]"></component>
</template>

<script>
    import classic from '../DefaultTheme/Blog/PostInfo'
    import material from '../ThemeOne/Blog/PostInfo'
    export default {
        name: "PostInfo",
        components:{
            appClassic:classic,
            appMaterial:material
        },
        data:()=>({
            component:"",
            theme:0,
            post_content:[]
        }),
        created() {
            this.theme = this.$store.getters.getTheme;
            let app = this;
            if(this.theme == 0){
                this.component = "appClassic";
            }else{
                this.component = "appMaterial";
            }
             this.get("/posts/"+this.$route.params.post_id).then((resp)=>{
                app.post_content = resp.post;
            })
        }
    }
</script>

<style scoped>

</style>