<template>
    <component :is="component" :experiences = "experiences"></component>
</template>

<script>
    import classic from '../DefaultTheme/Resume/Resume'
    import material from '../ThemeOne/Resume/Resume'
    export default {
        name: "Resume",
        props:['user_id'],
        components:{
            appClassic:classic,
            appMaterial:material
        },
        data:()=>({
            component:"",
            theme:0,
            experiences:[]
        }),
        created() {
            this.theme = this.$store.getters.getTheme;
            if(this.theme == 0){
                this.component = "appClassic";
            }else{
                this.component = "appMaterial";
            }
            let app = this;
            let id= this.$route.params.id;
            this.get("/user/"+id+"/experiences/").then((resp)=>{
                app.experiences = resp.experience;
            })

        }
    }
</script>

<style scoped>

</style>