<template>
    <component :is="component" :services="services"></component>
</template>

<script>
    import material from '../ThemeOne/Services/Services'
    import classic from '../DefaultTheme/Services/Services'
    export default {
        name: "Services",
        props:['user_id'],
        components:{
            appMaterial:material,
            appClassic:classic
        },
        data:()=>({
            component:"",
            theme:0,
            services:[]
        }),
        created() {
            this.theme = this.$store.getters.getTheme;
            if(this.theme == 1){
                this.component = "appMaterial";
            }else{
                this.component = "appClassic";
            }

                let app = this;
                let id= this.$route.params.id;
                this.get('/user/'+id+'/services').then((resp)=>{
                    app.services = resp.services;
                })
        }
    }
</script>

<style scoped>

</style>