<template>
    <component :is="component" :skills="skills"></component>
</template>

<script>
    import material from '../ThemeOne/Skills/Skills'
    import classic from '../DefaultTheme/Skills/Skills'
    export default {
        name: "Skills",
        props:['user_id'],
        components:{
            appMaterial:material,
            appClassic:classic
        },
        data:()=>({
            component:"",
            theme:0,
            skills:[]
        }),
        created() {
            this.theme = this.$store.getters.getTheme;
            if(this.theme == 1){
                this.component = "appMaterial";
            }else{
                this.component = "appClassic";
            }

            let app = this;
            let id= this.$route.params.id;
            this.get('/user/'+id+'/skills').then((resp)=>{
                app.skills = resp.skills;
            })
        }
    }
</script>

<style scoped>

</style>