<template>
    <div>
        <div v-if="theme == 0">

        <theme-profile>
            <router-view name="b"></router-view>
        </theme-profile>


            </div>

        <div v-else>
                <material-app :user="user">
                    <router-view name="b"></router-view>
                </material-app>
        </div>
    </div>
</template>

<script>
    import Profile from '../DefaultTheme/Profile'
    import App from '../ThemeOne/App'
    export default {
        name: "ThemeManager",
        components:{
            themeProfile:Profile,
            materialApp:App

        },
        props:['id'],
        data:()=>({
            theme:0,
            user:[]

        }),
        created() {
            let app = this;
            this.get('/user/'+this.id).then(function(resp){
                app.theme = resp.user.theme;
                app.$store.commit('SetTheme',resp.user.theme);
                app.user = resp.user;
                if(resp.user.ispaid == 0){
                    app.$store.commit('setPaid',false);
                }else{
                    app.$store.commit('setPaid',true);
                }
            })
        }
    }
</script>

<style scoped>

</style>